<html>
<head>
  <title>User Registration</title>
  <link rel="stylesheet" href="updatePage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="main">
    <h1>User Info UpdateData</h1>
    <form action="/updatedata" method="POST" enctype="multipart/form-data">
      <div>
        <input type="text" name="Name" placeholder="type here updete name..." autocomplete="off">
      </div>
      <div>
        <input type="email" name="Email" placeholder="type here updated Email..." autocomplete="off">
      </div>
      <div>
        <input type="password" name="Password" placeholder="type here updated Password..." id="myInput" autocomplete="off">
        <span class="eye" onclick="myFunction()">
          <i id="hide1" class="fa fa-eye"></i>
          <i id="hide2" class="fa fa-eye-slash"></i>
        </span>
      </div>
      <div>
        <input type="text" name="Address" placeholder="type here updete address..." autocomplete="off">
      </div>
      <div>
        <input type="tel" name="Phone_Number" placeholder="type here updete Phone_number..." autocomplete="off">
      </div>
      <div>
        <input type="file" name="Image">
      </div>
      <div class="button">
        <button type="submit">Update login User</button>
         <a href="http://localhost:4000/loginPage">login</a>
      </div>
    </form>
  </div>

  <!-- password hide and show code -->
  <script>
    function myFunction() {
      var x = document.getElementById("myInput");
      var y = document.getElementById("hide1");
      var z = document.getElementById("hide2");

      if (x.type === "password") {
        x.type = "text";
        y.style.display = "block";
        z.style.display = "none";
      }
      else {
        x.type = "password";
        y.style.display = "none"
        z.style.display = "block";
      }
    }
  </script>
</body>
</html>